CT_CONFIG_VERSION="4"
CT_OBSOLETE=y
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_X86=y
CT_ARCH_64=y
CT_TOOLCHAIN_PKGVERSION="tttapa/toolchains"
CT_TOOLCHAIN_BUGURL="https://github.com/tttapa/toolchains"
CT_TARGET_VENDOR="centos7"
CT_KERNEL_LINUX=y
CT_LINUX_V_3_10=y
# CT_KERNEL_LINUX_INSTALL_CHECK is not set
CT_BINUTILS_V_2_45=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_17=y
CT_GLIBC_EXTRA_CFLAGS="-Wno-implicit-int"
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--enable-multiarch --enable-libstdcxx-backtrace=yes --with-pic"
# CT_CC_GCC_ENABLE_DEFAULT_PIE is not set
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_LIBQUADMATH=y
CT_CC_GCC_LIBSANITIZER=y
CT_CC_GCC_BUILD_ID=y
CT_CC_LANG_CXX=y
CT_CC_LANG_FORTRAN=y
CT_DEBUG_GDB=y
# CT_GDB_CROSS is not set
CT_GDB_NATIVE_BUILD_IPA_LIB=y
CT_GDB_NATIVE_STATIC_LIBSTDCXX=y
CT_GMP_EXTRA_CFLAGS="-std=gnu11"
CT_NCURSES_EXTRA_CFLAGS="-std=gnu11"
CT_LINKER_MOLD=y
CT_LINKER_MOLD_PKG_KSYM="MOLD"
CT_MOLD_DIR_NAME="mold"
CT_MOLD_PKG_NAME="mold"
CT_MOLD_SRC_RELEASE=y
# CT_MOLD_SRC_DEVEL is not set
# CT_MOLD_SRC_CUSTOM is not set
CT_MOLD_PATCH_GLOBAL=y
# CT_MOLD_PATCH_BUNDLED is not set
# CT_MOLD_PATCH_LOCAL is not set
# CT_MOLD_PATCH_BUNDLED_LOCAL is not set
# CT_MOLD_PATCH_LOCAL_BUNDLED is not set
# CT_MOLD_PATCH_NONE is not set
CT_MOLD_PATCH_ORDER="global"
CT_MOLD_V_2_40_4=y
# CT_MOLD_V_2_39_1 is not set
# CT_MOLD_V_2_38_1 is not set
# CT_MOLD_V_2_37_1 is not set
# CT_MOLD_V_2_36_0 is not set
# CT_MOLD_V_2_33_0 is not set
# CT_MOLD_V_2_32_0 is not set
# CT_MOLD_V_2_31_0 is not set
CT_MOLD_VERSION="2.40.4"
CT_MOLD_MIRRORS="https://github.com/rui314/mold/archive/refs/tags"
CT_MOLD_ARCHIVE_FILENAME="v@{version}"
CT_MOLD_ARCHIVE_DIRNAME="@{pkg_name}-@{version}"
CT_MOLD_ARCHIVE_FORMATS=".tar.gz"
CT_MOLD_SIGNATURE_FORMAT=""
CT_LINKER_MOLD_has_cmake=y
CT_ALL_LINKER_CHOICES="MOLD"
# end of Linkers
